@import "tailwindcss";

@theme {
  --color-primary: #3490dc;
  --color-secondary: #ffed4a;
  --color-accent: #38c172;
  /* ---------------------------- */
  --color-mainBg: #3A3D50;
  --color-mainBetBg: #161824;
  --color-mainBlue: #042d56;
  --color-boxColor: #042d56;
  --color-boxColor: #042d56;
  --color-selectedColor: #0d68ad;
  --color-iconBackground: #428cdc;
  --color-mainBlue: #063f7c;
  --color-mainGradient: #084B93;
  --color-hoverColor: #448ede;
  --color-orange: #F54A00;
  --color-textblue: #1183d3;
  --color-grayBgMain: #4F5163;
  --color-grayBgHover: #5E6171;
  --color-parrot: #ffa200;
  --color-bg1: #F7F8FF;
  --color-bg2: #FC7C76;
  --color-bg3: #6EA8F4;
  --color-bg4: #333332;
  --color-yellow: #DD9138;
  --color-green: #17B15E;
  --color-voilet: #9B48DB;
  --color-red: #242424;
  --color-redLight: #333332;
  --color-blackLight: #707070;
  --color-gray: #666666;
  --color-lightGray: #768096;
  --color-gold: #ff8310;
  --color-chocolate: #B1835A;
  --color-border1: #eaeaea;
  --color-inputBg: #F0F0F5;
  --color-gray2: #CDCFDD;
      
  --color-customred: #FF0000;
  --color-customlightBlue: #D9AC4F;
  --color-customdarkBlue: #333332;
   
  --color-customlightbtn: #29A3F3;
  --color-customdarkBluebtn: #D9AC4F;
  --color-blackAviator1: #0E0E0E;
  --color-blackAviator2: #1B1C1D;

  --color-blackAviator3: #0C0C0C;
  --color-blackAviator4: #2C2D30;
  --color-blackAviatorText: #6D6F78;
  --color-redAviator: #CF2030;
  --color-greenAviator: #29AA09;
  --color-greenBorderAviator: #B1F1A4;
  --text-sm: 18px;
  --font-xsm: 14px;
  --font-lg: 50px;
  
/* ------------------------------ */
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  --animation-bounce: bounce 1s infinite;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px #042d56 inset !important; /* Your bg-boxColor */
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

@theme {
  --breakpoint-xxs: 390px
  --breakpoint-xs: 30rem;
  --breakpoint-xs2: 500px;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-2lg: 1500px;

}

/* Add to your CSS or global styles */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
